@import '../../scss/variables.scss';

* {
    margin: 0%;
    padding: 0%;
}

header {
    height: 30vh;
    width: 100%;
    background-image: url('../../../public/assets/header/header_img_p.webp');
    .header_content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header_logo {
            width: 89px;
            margin-top: 2em;
        }

        .header_text {
            font-size: 1.5em;
            color: white;
            font-family: $secondary-font;
            font-weight: 400;
        }
    }
    // .burguer_menu {
    //     display: flex;
    //     flex-direction: column;
    //     z-index: 2;
    //     top: 1.88%;
    //     right: 3.33%;
    //     position: absolute;

    //     .burguer_menu-bar {
    //         width: 25px;
    //         height: 4px;
    //         margin: 0.1em;
    //         background: rgb(255, 255, 255);
    //         transition: all 0.25s ease;
    //         transform-origin: 0px 100%;
    //     }
    //     input {
    //         display: block;
    //         width: 40px;
    //         height: 32px;
    //         position: absolute;
    //         top: -7px;
    //         left: -5px;
    //         cursor: pointer;
    //         opacity: 0; /* hide this */
    //         z-index: 3;
    //     }
    // }
    nav {
        .menu_toggle {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 1.88%;
            right: 3.33%;
            z-index: 2;
            -webkit-user-select: none;
            user-select: none;
            input {
                position: absolute;
                top: 20%;
                right: 25%;
                cursor: pointer;
                opacity: 0;
                z-index: 3;
                -webkit-touch-callout: none;
            }
            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: $light-color;
                border-radius: 3px;
                z-index: 2;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    opacity 0.55s ease;
            }
            span:first-child {
                transform-origin: 0% 0%;
            }
            span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
            input:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(-0px, 0px);
                background: white;
            }
            input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(-0px, 2px);
            }

            input:checked ~ ul {
                transform: none;
            }
        }
        .menu_list {
            position: absolute;
            width: 18.75em;
            height: 47.5em;
            background: $light-color;
            margin: 0em 3em;
            list-style-type: none;
            transform-origin: 0% 0%;
            transform: translate(-120%, 0%);
            transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
            border: 5px solid #dadada;
            li {
                font-family: $primary-font;
                font-weight: 500;
                padding: 0.5em 1em;
                font-size: 24px;
            }
            .menu_list-login {
                font-weight: 700;
                font-size: 28px;
            }

            .menu_list-logout {
                position: absolute;
                top: 44em;
            }

            .menu_list-logoutLine {
                width: 231px;
                height: 0px;
                margin: 0;
                position: absolute;
                left: 10%;
                border: 2px solid $grey-color;
            }
            a {
                text-decoration: none;
                color: #232323;
                transition: color 0.3s ease;
            }
            a:hover {
                color: $dark-color;
            }
        }
    }
}
