@import '../../components/list/list.scss';

.favlist {
    margin: 10%;
    ul {
        .favplace-list {
            margin-top: 10em;
            section {
                margin-top: 1em;
            }
        }
    }
}
